.whychoose_page {
    padding: 60px 0;
    background: var(--silver);
}

.whychoose_page .sub_heading {
    margin-bottom: 80px;
}

.choose_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 61px;
    text-align: center;
}

.choose_item {
    background: #fefeff;
    color: #2f2a60;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 30px;
    position: relative;
}

.choose_item .choose_img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
    display: grid;
    place-items: center;
}

.choose_item .choose_img img {
    width: 50px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(204deg) brightness(105%) contrast(101%);
}

.choose_item h4 {
    font-size: 20px;
    margin-top: 20px;
}

.choose_item p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

.apply_btn {
    margin: auto;
    display: table;
    margin-top: 60px;
}