/* 
------------------------------------------------------------
About Area CSS
------------------------------------------------------------
*/
a {
    text-decoration: none;
}

.about_area {
    padding-bottom: 80px;
}

.about_img {
    border-radius: 10px;
    position: relative;
    padding-right: 50px;
    height: 480px;
}

.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about_img::after {
    content: "";
    background: var(--primary);
    width: 250px;
    height: 250px;
    position: absolute;
    top: -20px;
    left: -23px;
    border-radius: 18px 0 0 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
}

.sub_heading>span {
    color: crimson;
    text-transform: capitalize;
}

.sub_heading h2 {
    color: var(--primary);
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub_heading h2>span {
    color: #818181;
}

.about_content p {
    color: var(--paraColor);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
}

.custom_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 5px;
    background: transparent;
    color: var(--primary);
    transition: .3s;
    border: 2px solid var(--primary);
    text-decoration: none;
}

.custom_btn:hover {
    background: var(--primary);
    border-color: transparent;
    color: var(--bs-white);
}

.custom_btn svg {
    transition: .3s;
}

.custom_btn:hover svg {
    color: var(--bs-white);
    transform: translateX(6px);
}